.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  input[type=text] {
    width: 80%;
    height: 10%;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  .homecontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
body{
  background: white url("background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
  