{% load socialaccount %}
<html>
    <body>
        <h1>Approved Spots</h1>
        <form action = "" method="post">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Approved</th>
                </tr>
            </thead>
            <tbody>
            {% for place in places_list %}
            <tr>
                <td>{{ place }}</td>
                <td>
                    {% if place.admin_approved %}
                        <div class = "form-check">
                            <input class = "form-check-input" type = "checkbox" checked = "checked" value = {{place.id}} name = "boxes"/>
                        </div>
                    {% else %}
                        <div class = "form-check">
                            <input class = "form-check-input" type = "checkbox" value = {{place.id}} name = "boxes"/>
                        </div>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <button class='button' type="submit">Update approval</button>
    </form>
    </body>
</html>