{% load socialaccount %}
{% load in_any_groups %}
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/page.css">
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Hoos Studying</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="placesLink" class="nav-link" hidden = "true" href="{% url 'places' %}">Places</a>
                </li>
                <li class="nav-item">
                <a id = "suggestLink" class="nav-link" hidden = "true" href="{% url 'suggest' %}">Suggest</a>
                </li>
                <li class="nav-item">
                    <a id = "approvalLink" class="nav-link" hidden="true" href="{% url 'approval' %}">Approval</a>
                </li>
                <li class="nav-item">
                    <a id = "logoutLink" class="nav-link" hidden = "true" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        

        <div class = "container">
        <center>
        
            <h1>Hoos Studying</h1>
            
            
        {% if user.is_authenticated %}
        <script>
            document.getElementById('placesLink').hidden = false;//unhides all nav bar links
            document.getElementById('suggestLink').hidden = false;
            document.getElementById('logoutLink').hidden = false;
        </script>
        <h4>Welcome, {{ user.username }}!</h4>
            <p>Our app allows you to discover new places to study around grounds!</p>
            <p>Feel free to suggest your favorite study spot below!</p>
            {% for group in user.groups.all %}
                {% if group.name == 'verifier' %}
                    <script>
                        document.getElementById('approvalLink').hidden = false;//unhides approval link
                    </script>
                    <p> You are an admin user</p>
                    <a href="{% url 'approval' %}">
                    <button class='btn btn-secondary'>Approval</button>
                </a>
                <a href = "{% url 'places' %}">
                    <button class='btn btn-secondary'>See Approved Places</button>
                </a>
                {% endif %}
            {% endfor %}
            <a href = "{% url 'suggest' %}">
                <button class='btn btn-secondary'>Suggest</button>
            </a>
        {% if not user.groups.all|in_any_groups and user.is_authenticated %}
            <!-- Automatically redirect to places -->
            <!-- <script type="text/javascript">
                window.location.href = "{% url 'places' %}"
            </script> -->
        {% endif %}
        {% else %}
        <p>Please login with Google below to continue to the app</p>
        <a href="{% provider_login_url 'google' %}">
            <button class='btn btn-secondary'> Login</button>
        </a>
        
        {% endif %}
    </center>
        </div>
        
    </body>
</html>
