{% load socialaccount %}
<html>
    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <h1>Approved Spots</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
            {% for place in places_list %}
            {% if place.admin_approved %}
            <tr>
                <td>{{ place.title }}</td>
                <td>
                    {{ place.details }}
                </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <button class="button btn-secondary" href=''>Home</button>
    </link>
    </body>

</html>